<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">
    <style>
    .Roboto100 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
    .Roboto300 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    .Roboto500 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    </style>
    

    <!-- Title -->
    <title>Disaster Response Classifier</title>

    <!-- Title 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    -->
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025" class="navbar-text text-light mb-0 h5 Roboto100">Made with Udacity</a>
    </nav>
    
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center Roboto300">Disaster Message Classifier</h1>
            <h5 class="text-center Roboto100 mb-4">Analyzing messages for quick disaster response</h5>
            <form action="/go" method="get">
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control Roboto100" name="query" placeholder="Enter a message to classify">
                    </div>              
                    <div class="col-1">
                        <button type="submit" class="btn btn-secondary Roboto300">Classify</button>
                    </div>
                </div>
            </form>       
        </div>
    </div>

    <div class="container">
        {% block message %}{% endblock %}
        
        {% block classification %}
            <div>
                <h3 class="text-center Roboto300 mb-5">Overview of Training Dataset</h3>
                
                <!-- graph 1 -->
                <div class = "row border-bottom mb-5">
                    <div class = "col mb-5">
                        <p class="Roboto100">
                            This web application was powered by a <span class = "Roboto300">supervised machine learning model</span>. 
                            The model was trained on a dataset consisting of 26384 social media or text messages, all collected following diasters. 
                            Each message has been translated to English and labeled with zero or more classes, such as "clothing", "food", 
                            or "shelter". In total 36 classes were defined, and the number of messages associated with each class is plotted 
                            below.
                        </p>
                        <p class="Roboto100">
                            The plot demonstrates a highly skewed class distribuion, known as <span class = "Roboto300">class imbalance</span>. 
                            For example, major classes like `related` was tagged to over 20k messages while minor classes like `clothing` was 
                            tagged to only 404 messages. More surprisingly, the class `child_alone` was tagged to none of the messages.
                        </p>
                        <div id="{{ids[0]}}"></div>
                    </div>
                </div>

                <!-- graph 2 -->
                <div class = "row border-bottom mb-5">
                    <div class = "col mb-5">
                        <p class="Roboto100">
                            As mentioned above, each message was labeled with zero or more classes. Here I define 
                            <span class = "Roboto300">message complexity</span> as the number of classes associated with each message, 
                            and plot the distribution of message complexity below. The plot shows that over 6000 messages do not belong 
                            to any class; majority of messages are associated with 1-10 classes; and in an extreme case, a message
                            is associated with 27 classes.
                        </p>
                        <div id="{{ids[1]}}" ></div>
                    </div>
                </div>

                <!-- graph 3 -->
                <div class = "row border-bottom mb-5">
                    <div class = "col mb-5">
                        <p class="Roboto100">
                            This variation in message complexity is largely due to the the variation in message length, because longer 
                            messages natually contain more tokens. To demonstrate this, the figure below plots the count 
                            of classes against the count of tokens for each message, where in general
                            <span class = "Roboto300">messages with more tokens have more associated classes</span>. 
                        </p>
                        <div id="{{ids[2]}}"></div>
                    </div>
                </div>

                <!-- graph 4 -->
                <div class = "row border-bottom mb-5">
                    <div class = "col mb-5">
                        <p class="Roboto100">
                            This dataset contains thousands of unique tokens, but which are the most popular tokens? Excluding 
                            stop words, the <span class = "Roboto300">10 most common tokens</span> are shown below (tokens 
                            "peopl", "pleas", and "earthquak" are missing an "e" at the end due to stemming). A lot of 
                            these tokens are quite informative itself and can be directly linked to a pre-defined training class, 
                            such as "water", "food", and "earthquak".
                        </p>
                        <div id="{{ids[3]}}"></div>
                    </div>
                </div>

            </div>
        {% endblock %}       
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
        // plots the figure by id using Plotly
        // id must match the div id above in the html
        var figures = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) 
        {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        };
    </script>

</body>

</html>
